/*Estilos GRIDS*/

.grid {
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}

.gridDestacados {
    display:grid;
    grid-template-columns: 10% 10% 10% 10%;
    justify-content: space-around;
}

.gridFooter {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content: space-around;
    background-color: $marron;
    padding-top: 5vh;
}

.gridRepetitivo {
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
}

.gridBlog {
    display: grid;
    align-content: flex-start;
    padding-left: 2%;
    padding-bottom: 2vh;
}
